<p>
  <%= t('auth.mailers.passwords.body_html_html', edit_url: edit_password_url(@user.password_reset_token)).html_safe %>
  <br>
  <%= t('auth.mailers.passwords.expire', time: distance_of_time_in_words(0, @user.password_reset_token_expires_in)) %>
</p>
